<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


  <div id="app-5">
    <button v-on:click="boton">[[message]] </button>

  </div>


  <style>
    button {
      position: absolute;
      width: 100px;
      height: 100px;
      background: #34E045;
      border-radius: 90px;
    }
  </style>

  <script>

    var app5 = new Vue({
      el: '#app-5',
      delimiters: ['[[', ']]'],
      data: {
        message: 'LA TETA'
      },
      methods: {
        boton: function () {
          this.message = 'AI NO ME AGARRE LA TETA'
  
        }
      }
    })
  </script>



</body>

</html>